@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* mini reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.cabecalho {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
}

.bg-cinza {
  background: rgb(227, 232, 232);
}

.bg-azul {
  background: rgb(8, 6, 84);
}

.texto-extragrande {
  font-size: 2.2rem;
}

.texto-grande {
  font-size: 1.4rem;
}

.texto-medio {
  font-size: 1rem;
}

.fonte-preta {
  color: #000;
}

.fonte-branca {
  color: #fff;
}

h2 {
  font-weight: 600;
  text-align: center;
}

.links-menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.menu li {
  display: inline;
}

.menu li a {
  text-decoration: none;
  font-weight: 200;
  padding: 20px;
}

.menu ul li a:hover {
  color: rgb(193, 27, 82);
}

.container {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%
}

.container-medio {
  height: 80vh;
}

.container-pequeno {
  height: 63vh;
}

.foto-corona {
  background-image: url(../images/covid.jpg);
  height: 70vh;
}

.foto-robo {
  background-image: url(../images/robo.jpg);
}

.chamada {
  width: 30%;
  height: 40vh;
  background: rgba(66, 53, 56, 0.5);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 40px;
}

.chamada-grande {
  width: 68%;
  height: 70vh;
  background: rgba(4, 20, 56, 0.22);
}

.texto-chamada {
  padding: 10px;
}

.margem-media {
  line-height: 25px;
  margin: 10px 60px;
}

.margem-pequena {
  margin: 5px 15px;
}

.centraliza {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

/* video */
.video-responsivo {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.video-responsivo iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.empresas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eagle {
  width: 35%;
}

.logo {
  padding: 25px;
}

.formulario {
  width: 40%;
  text-align: center;
  padding: 10px;
  display: block;
  margin: auto;
}

.margem-top {
  margin-top: 30px;
}

/* *****Formulário***** */
fieldset {
  border: none;
  margin: 5px;
}

#dados input[type="text"],
#dados input[type="email"],
#dados input[type="tel"],
#dados textarea {
  font-family: 'Manrope', sans-serif;
  width: 100%;
  height: 5vh;
  margin: 5px 0;
  padding: 20px;
  border: 1px solid rgb(149, 147, 149);
}

#dados textarea {
  height: 20vh;
  resize: none;
}

#dados input,
#dados textarea {
  outline: rgb(91, 88, 88) solid 2px;
}

#dados button {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  padding: 6px 17px;
  background: rgb(165, 168, 190);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline;
}

footer {
  width: 100%;
  height: 12vh;
  background: rgb(227, 232, 232);
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}

.redes-sociais {
  font-size: 0.8em;
  color: #000;
  margin: 0 5px;
}

.redes-sociais:hover {
  color: rgb(241, 22, 74)
}

.rodape {
  height: 30vh;
}

/* ---------------------------responsivo----------------------- */
@media (max-width: 1024px) {
  .cabecalho {
    white-space: nowrap;
  }

  .container-pequeno {
    height: 75vh;
  }

  .chamada {
    width: 35%;
    height: 45vh;
  }

  .chamada-grande {
    width: 78%;
    height: 85vh;
  }
}

/* menu responsivo */
@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .menu {
    position: relative;
  }

  .links-menu {
    width: 25%;
    height: 25vh;
    position: fixed;
    right: -25vw;
    top: 8vh;
    background: rgb(211, 208, 218);
    opacity: 0.9;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 2vh;
    transition: 0.5s;
    font-size: 0.8rem;
  }

  .sanduiche {
    position: absolute;
    right: 0;
    top: -15px;
    cursor: pointer;
  }

  .linha {
    width: 31px;
    height: 2px;
    background: #000;
    margin: 8px;
  }

  .links-menu.open {
    right: 0;
  }

  .chamada {
    width: 58%;
    height: 65%
}

  .chamada-grande {
    width: 80%;
    height: 70vh;
  }

  .margem-media {
    margin: 5px;
  }

  .container-pequeno {
    height: 85vh;
  }
}

@media (max-width:700px) {
  body {
    font-size: 12px;
  }

  .chamada {
    width: 60%;
    height: 55vh;
  }

  .chamada-grande {
    width: 90%;
    height: 90vh;
  }

  .margem-media {
    margin: 5px 25px;
  }

/* .margem-pequena {
    margin: 5px 10px;
  } */

  .empresas {
    flex-direction: column;
  }

  .logo {
    width: 35%;
    height: 35%;
    padding: 10px;
  }

  .eagle {
    width: 50%;
  }

  .margem-top {
    margin-top: 50px;
  }

  .formulario {
    width: 75%;
    padding: 5px;
  }
}

/* fim do menu responsivo */
